body {
  margin: 0;
  font-family: "JetBrains Mono", sans-serif;
}

#content {
  max-width: 1300px;
  margin: 0 auto;
}

.section {
  width: 50%;
  height: 700px;
  float: left;
}

@media screen and (max-width: 601px) {
  .section {
    width: 100%;
    height: 700px;
  }
}

.black {
  color: #fff;
  background-color: #000;
}

.rose {
  color: #fff;
  background-color: #b81a2f;
}

.light-grey {
  color: #000;
  background-color: #f1f1f1;
}

.indigo {
  color: #fff;
  background-color: #3f51b5;
}

.dark-grey {
  color: #fff;
  background-color: #616161;
}

.teal {
  color: #fff;
  background-color: #009688;
}

.wrapper {
  text-align: center;
  padding: 64px 16px;
}

.wrapper-24 {
  padding: 24px;
}

/* .wrapper-table {
  align-self: center;
  margin-left: 32px;
  margin-right: 32px;
  width: 95%;
} */

.experience-table {
  align-self: center;
  margin-top: 64px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}

.experience-table td,
.experience-table th {
  padding: 16px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

.experience-table th:first-child,
.experience-table td:first-child {
  padding-left: 16px;
}

h1 {
  font-size: 36px;
}

a.menu-item {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 16px;
  font-size: 16px;
}

a#link-about-me:hover {
  background-color: #b81a2f;
}

a#link-interests:hover {
  background-color: #3f51b5;
}

a#link-resume:hover {
  background-color: #f1f1f1;
  color: #000;
}

.img-circle {
  border-radius: 50%;
  width: 45%;
}

.align-center {
  margin: 0px auto 0px auto;
}
